[submodule "utils_dcal"]
	path = utils_dcal
	url = https://github.com/ceos-seo/data_cube_utilities.git
[submodule "sac_utils"]
	path = sac_utils
	url = https://github.com/SatelliteApplicationsCatapult/sac_utils.git
